Ques1-->>

Ans-  The values are " hello" , -87.8
, 6

Ques2-->>

Ans-  A string is a sequence of characters enclosed in either single quotes (') or double quotes (").

variable- it is a name that refers any value present in memory also it act as a container that can hold any type of data such as number , string , list..

Ques3-->>

Ans- three data types: 1. Int , 2. Float , 3. String

int- whole numbers e.g 1,2,3....

float- those values who are in points e.g. 45.216  , 45.165

String - Sequence of characters enclosed in either single quotes or double quotes

Ques3-->>

Ans--


An expression is made up of:

Values - like 5, 'hello', 3.14

Variables - like x, y, name

Operators - like +, -, *, /

Function calls - like len("hello"), sum([1, 2, 3])

.Parentheses - to group parts: (2 + 3) * 5

--------------------------------------------------------------------------------
expression does----

All expressions evaluate to (or produce) a value.


Examples:
2 + 3 → evaluates to 5

"hi" + " there" → evaluates to 'hi there'

len("Python") → evaluates to 6

Ques4-->>

Ans- Statement :

A statement is a complete instruction that does something
 - You can print it, use it in a calculation, or assign it to a variable.
- Think of it as something that gives you a result.

- - - - - - - - - - - -- -  -- - - - - - - - - - - - - - - - - - - - - -

An expression is something that evaluates to a value.

- You can print it, use it in a calculation, or assign it to a variable.


- Think of it as something that gives you a result.

In [ ]:
# Ques5:

spam = 10


#                      2 + 3 → is an expression (evaluates to 5)

#   spam = 2 + 3 → is a statement (assigns that value to spam)

In [ ]:
#     Ques-6

bacon=22

bacon+1

23

Ques7 -->> What should the values of the following two terms be?


  'spam'+ 'spamspam' ; >>> Result: 'spamspamspamspam'
  
  'spam'*3;  >>> Result:  'spamspamspam'

Ques8:

Ans;  According to rules , variable name can't start with a number so eggs is valid variable name

Ques9-->> 9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

Ans-  Yes

Ques10>>10. Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99+ 'burritos'.

Ans-- 'I have eaten ' + '99' + ' burritos.'